header {
	padding-top: 20px;
	height: 87px;
}

body {
	font: sans-serif;
	line-height: 1.88889;
	color: #555753;
	background-color: lightgray;
	margin: 0;
	padding: 0;
  font-size: 20px;
	}

h1  {
	font: sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #0076FF;
  font-weight: bold;
  font-size: 45px;
	}

#Intro {
  font-weight:bold;
  font-size: 20px;
	text-align: center;
	font-style: italic;
}

#content {
	background-color: darkgray;
}

.nav {
  background-color: gray;
	padding-bottom: 10px;
}

a {
  color: White;
  font-size: 20px;
}

.card {
	margin: 25px;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

thead {
	background-color: gray;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
